*{
	color: white;
}

body {
	background-color: #0f2338;
}

#navbar {
	background-color: #022140;
}

#editProfileButton {
	float: right;
}

a {
    text-decoration: none !important;
}

.indexcarouselimg {
	width: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height:auto;
  	
}

#courseDetails {
	resize:both;
}

footer {
	
}